html {
  box-sizing: border-box;
}
*. {
  box-sizing: inherit;
}
body {
  margin: 0;
  .list {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

/* PAGE-HEADER */

.page-header {
  background-color: red;
}
.page-nav {
  min-height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav-list {
  background-color: white;
  width: 467px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav-logo {
  font-size: 30px;
  font-family: "OpenSans", sans-serif;
  color: #0f0101;
  text-transform: uppercase;
  line-height: 1.067;
  text-decoration: none;
}
.page-nav-logo::first-letter {
  color: rgb(26, 188, 156);
}

.page-nav-item {
  display: flex;
  justify-content: space-between;
}

.page-nav-link {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.786;
  text-decoration: none;
  transition: color 0.25s linear;
}
.page-nav-link:hover,
.page-nav-link:focus {
  color: rgb(26, 188, 156);
}

/* PAGE-BANNER */

.page-banner {
  min-height: 600px;
  margin-bottom: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-banner-text-1,
.page-banner-text-2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 252, 252);
  text-align: center;
}
.page-banner-text-1 {
  font-weight: 300;
}
.page-banner-text-2 {
  font-weight: 600;
}
.banner-symbol-color {
  color: #1abc9c;
}
.page-banner-buttom {
  border-width: 2px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
  width: 116px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 16px;
  font-weight: 300;
  text-align: center;
}

/* PAGE ABOUT */
.page-about {
  padding-top: 10opx;

  padding-bottom: 85x;
  background-color: rgb(255, 255, 255);
}

.page-about .container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.page-about-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 1000px; */

  margin: 0;
  padding: 0;
}

.page-about-item {
  text-align: center;
  height: 310px;
  width: 255px;
}

.page-about-item::before {
  content: "";
  display: block;
  height: 70px;
  margin-bottom: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-setting::before {
  background-image: url("../img/setting.jpg");
}
.icon-money::before {
  background-image: url("../img/money.jpg");
}
.icon-worldwide::before {
  background-image: url("../img/globus.jpg");
}
.icon-shipping::before {
  background-image: url("../img/compas.jpg");
}

.page-about-name {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: rgb(85, 82, 82);
  font-weight: bold;
  line-height: 1.778;
}
.page-about-descr {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.714;
}
/* COLLECTION & PRODUCTS */

.collection {
  padding-top: 105px;
  padding-bottom: 100px;
  background-color: rgb(233, 240, 253);
}

.products {
  padding-top: 105px;
  padding-bottom: 100px;
  background-color: rgb(255, 255, 255);
}
.title {
  font-size: 48px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}
.title::after {
  display: block;
  margin-top: 30px;
  margin-bottom: 75px;
  height: 15px;
  content: "";
  background-image: url("../img/Pelement_titel.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.collection-list,
.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.collection-item {
  position: relative;
  width: 255px;
}
.products-item {
  width: 255px;
  margin-bottom: 30px;
}
.products-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.collection-link,
.products-link {
  display: block;
}

.collection-img,
.products-img {
  display: block;
  height: 282px;
}
.collection-img {
  background-color: rgb(255, 255, 255);
}
.products-item {
  position: relative;
}
.products-img {
  background-color: rgb(233, 240, 253);
}
.collection-overrlay,
.products-overrlay {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  display: none;
  width: 235px;
  height: 260px;
  position: absolute;
  top: 11px;
  left: 11px;
  transform: translate(-50% -50%);
  background-color: rgba(0, 0, 0, 0.549);
  animation: fon-appear 0.25s linear;
  transition-delay: 25s;
}

@keyframes fon-appear {
  0% {
    transform: translateY(130px);
  }
  100% {
    transform: translateY(0);
  }
}
.collection-add-cart::before,
.products-add-cart::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/cart.jpg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.collection-like:hover .collection-like,
.collection-share:hover,
.collection-clock:hover,
.collection-add-cart:hover,
.products-like:hover,
.products-share:hover,
.products-clock:hover,
.products-add-cart:hover {
  border-width: 1px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
}

.collection-add-cart,
.collection-like,
.collection-share,
.collection-clock,
.products-add-cart,
.products-like,
.products-share,
.products-clock {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(50, 50, 50, 0.549);
  transform: translate(-50% -50%);
}

.collection-like,
.products-like {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 80px;
}

.collection-share,
.products-share {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 80px;
}

.collection-clock,
.products-clock {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 150px;
  top: 80px;
}
.collection-add-cart,
.products-add-cart {
  width: 164px;
  height: 48px;
  position: absolute;
  left: 35px;
  top: 135px;
}
.collection-like::before,
.products-like::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/like.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.collection-share::before,
.products-share::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/share.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.collection-clock::before,
.products-clock::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/clock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.collection-item:hover .collection-overrlay,
.products-item:hover .products-overrlay {
  display: block;
}
.collection-info,
.products-info {
  display: flex;
}
.collection-name,
.collection-price,
.products-name,
.products-price {
  /* background-color: lawngreen; */
  font-size: 18px;
  font-weight: 300;
  font-family: "OpenSans", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  padding-left: 8px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.collection-name,
.products-name {
  display: flex;
  height: 40px;
  width: 205px;
  justify-content: left;
  align-items: center;
  background-color: #323232;
}

.collection-item:hover .collection-name,
.products-item:hover .products-name {
  background-color: rgb(26, 188, 156);
}

.collection-item:hover .collection-price,
.products-item:hover .products-price {
  background-color: #7fd9c7;
}

.collection-price,
.products-price {
  display: flex;
  height: 40px;
  width: 50px;
  justify-content: left;
  align-items: center;
  background-color: #8c8c8c;
}
