:root {
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
body {
  margin: 0;
}

.list {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1110px;
  margin: 0 auto;
}

/* SAIT & USER NAV */

.top-header {
  display: block;
  height: 50px;
  background-color: #1abc9c;
}

.user-nav,
.sait-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  height: 50px;
}
.sait-nav {
  height: 90px;
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-link {
  display: block;
  font-weight: 300;
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  transition: color 0.25s var(--timing-fn);
}

.nav-phone,
.nav-mail {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 30px;
  transition: color 0.25s var(--timing-fn);
}

.nav-phone::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../img/phone1.png');
  background-position: center;
  background-size: auto;
  padding-right: 8px;
  background-repeat: no-repeat;
  transition: color 0.25s linear;
}

.nav-mail::before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../img/mail.png');
  background-position: center;
  background-size: auto;
  padding-right: 18px;
  background-repeat: no-repeat;
}

.sait-logo {
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 1.067;
  color: #555252;
  text-decoration: none;
}
.sait-logo::first-letter {
  color: rgb(26, 188, 156);
}

.user-nav .nav-link,
.user-nav .nav-phone,
.user-nav .nav-mail {
  color: rgb(254, 254, 254);
  text-decoration: none;
}
.sait-nav .nav-link {
  text-transform: uppercase;
  color: #0f0101;
  font-weight: bold;
}

.user-nav .nav-link:hover,
.user-nav .nav-link:focus,
.user-nav .nav-phone:hover,
.user-nav .nav-phone:focus,
.user-nav .nav-mail:hover,
.user-nav .nav-mail:focus {
  color: #2b5e52;
}

.sait-nav a:hover,
.sait-nav a:focus {
  color: rgb(26, 188, 156);
}

/* PAGE-BANNER */

.page-banner {
  min-height: 600px;
  margin-bottom: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/girls1.jpg');
  /* background-color: rgba(0, 0, 2, 0.522), */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-banner-text-1,
.page-banner-text-2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 252, 252);
  text-align: center;
}
.page-banner-text-1 {
  font-weight: 300;
}
.page-banner-text-2 {
  font-weight: 600;
}
.banner-symbol-color {
  color: #1abc9c;
}
.page-banner-buttom {
  border-width: 2px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(26, 188, 156);
  font-weight: 300;
  width: 116px;
  height: 38px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-top: 10px;
  transition: background-color 0.25s var(--timing-fn);
}

.page-banner-buttom:hover,
.page-banner-buttom:focus {
  color: #fff;
  background-color: #2b5e52;
  font-weight: 600;
  border: 2px solid #fff;
}

/* PAGE ABOUT & NEWS*/
.section {
  padding-bottom: 100px;
  padding-top: 100px;
}

.page-about {
  background-color: rgb(255, 255, 255);
}

.page-news {
  background-color: rgb(233, 240, 253);
}

.page-about-list,
.page-news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-about-item {
  text-align: center;
  /* height: 310px; */
  width: 255px;
}

.page-news-item {
  /* text-align: center; */
  /* height: 310px; */
  width: 350px;
}

.page-about-item::before {
  content: '';
  display: block;
  height: 70px;
  margin-bottom: 55px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-setting::before {
  background-image: url('../img/setting.jpg');
}
.icon-money::before {
  background-image: url('../img/money.jpg');
}
.icon-worldwide::before {
  background-image: url('../img/globus.jpg');
}
.icon-shipping::before {
  background-image: url('../img/compas.jpg');
}

.page-about-name,
.page-news-name {
  font-size: 18px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(85, 82, 82);
  font-weight: bold;
  line-height: 1.778;
}

.page-about-name {
  text-transform: uppercase;
}

.page-news-name::after {
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 5px;
  content: '';
  background-image: url('../img/Pelement.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.page-about-descr,
.page-news-descr {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(85, 82, 82);
  line-height: 1.714;
}

.news-link {
  display: block;
  text-decoration: none;
  display: inline-flex;
  width: 160px;
  height: 50px;
  background-color: #4ec6ab;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 26px;
  transition: background-color 0.25s var(--timing-fn);
}

.news-link:hover,
.news-link:focus {
  color: white;
  background-color: #2b5e52;
  font-weight: 600;
}
/* COLLECTION & PRODUCTS */

.collection {
  background-color: rgb(233, 240, 253);
}

.products {
  background-color: rgb(255, 255, 255);
}
.title {
  font-size: 48px;
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}
.title::after {
  display: block;
  margin-top: 30px;
  margin-bottom: 75px;
  height: 15px;
  content: '';
  background-image: url('../img/Pelement_titel.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.collection-list,
.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.collection-item {
  position: relative;
  width: 255px;
  overflow: hidden;
}
.products-item {
  position: relative;
  width: 255px;
  margin-bottom: 30px;
  overflow: hidden;
}
.products-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.collection-link,
.products-link {
  display: block;
}

.collection-img,
.products-img {
  display: block;
  height: 282px;
}

.collection-overlay,
.products-overlay {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* display: none; */
  width: 235px;
  height: 260px;
  position: absolute;
  top: 11px;
  left: 11px;
  /* transform: translate(-50% -50%); */
  background-color: rgba(0, 0, 0, 0.549);
  /* /* animation: fon-appear 0.25s linear; */
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(120%);
}

.collection-item:hover .collection-overlay,
.products-item:hover .products-overlay {
  /* display: block; */
  transform: translateY(0);
}

/* @keyframes fon-appear {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
} */
.collection-add-cart::before,
.products-add-cart::before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/cart.jpg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.collection-like:hover,
.collection-share:hover,
.collection-clock:hover,
.collection-add-cart:hover,
.products-like:hover,
.products-share:hover,
.products-clock:hover,
.products-add-cart:hover {
  border-width: 1px;
  border-color: rgb(26, 188, 156);
  border-style: solid;
  background-color: rgb(26, 188, 156);
}

.collection-like,
.collection-share,
.collection-clock,
.products-like,
.products-share,
.products-clock {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(50, 50, 50, 0.549);
  transition-delay: 0.25s;
  transform: translateY(500%);
}
.collection-add-cart,
.products-add-cart {
  font-size: 14px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.286;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(50, 50, 50);
  transition-delay: 0.25s;
  transform: translateY(500%);
}

.collection-overlay:hover .collection-add-cart,
.collection-overlay:hover .collection-like,
.collection-overlay:hover .collection-share,
.collection-overlay:hover .collection-clock,
.products-overlay:hover .products-add-cart,
.products-overlay:hover .products-like,
.products-overlay:hover .products-share,
.products-overlay:hover .products-clock {
  transform: translateY(0);
}

.collection-like,
.products-like {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 80px;
}

.collection-share,
.products-share {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 95px;
  top: 80px;
}

.collection-clock,
.products-clock {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 150px;
  top: 80px;
}
.collection-add-cart,
.products-add-cart {
  width: 164px;
  height: 48px;
  position: absolute;
  left: 35px;
  top: 135px;
}
.collection-like::before,
.products-like::before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/like.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.collection-share::before,
.products-share::before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/share.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.collection-clock::before,
.products-clock::before {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.collection-info,
.products-info {
  display: flex;
}
.collection-name,
.collection-price,
.products-name,
.products-price {
  /* background-color: lawngreen; */
  font-size: 18px;
  font-weight: 300;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  padding-left: 8px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.collection-name,
.products-name {
  display: flex;
  height: 40px;
  width: 205px;
  justify-content: left;
  align-items: center;
  background-color: #323232;
}

.collection-item:hover .collection-name,
.products-item:hover .products-name {
  background-color: rgb(26, 188, 156);
}

.collection-item:hover .collection-price,
.products-item:hover .products-price {
  background-color: #7fd9c7;
}

.collection-price,
.products-price {
  display: flex;
  height: 40px;
  width: 50px;
  justify-content: left;
  align-items: center;
  background-color: #8c8c8c;
}
/* FOOTER */
.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 460px;
  background-image: url('../img/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-titel {
  font-weight: 700;
  margin: 0;
  padding: 0;
  /* padding-bottom: 35px; */
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 0.667;
  text-align: center;
}

.footer-titel::after {
  display: block;
  height: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-position: center;
  content: '';
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url('../img/Pelement_footer.png');
}

.footer-text {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.625;
  font-weight: 300;
  margin-bottom: 45px;
  text-align: center;
}

.form {
  width: 540px;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
}

.input {
  width: 446px;
  /* padding-left: 25px; */
  height: 57px;
  font-family: 'OpenSans', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  outline: none;
  border: none;
  position: relative;
}

.input-submit {
  width: 90px;
  height: 55px;
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 2px;
  border-radius: 0px 5px 5px 0px;
  margin-bottom: 2px;
  margin-right: 2px;
  background-image: url('../img/Butt-foot-2.png'), url('../img/butt-foot-1.png');
  background-position: center;
}

.container-form {
  display: flex;
  justify-content: center;
}
